<% layout('/layouts/boilerplate') %>
<body>
  <h3>Listing Details :</h3>
  <form method="get" action="/listings">
    <button>All Listings</button>
  </form>
  <ul>
    <li><%= listing.title %></li>
    <li><%= listing.description %></li>
    <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
    <li><%= listing.location %></li>
    <li><%= listing.country %></li>
  </ul>
  <form method="get" action="/listings/<%=listing._id%>/edit">
    <button>Edit this Listing</button>
  </form>
  <br />
  <form method="post" action="/listings/<%=listing._id%>?_method=delete">
    <button>Delete the Listing</button>
  </form>
</body>
